body {
    background-color:#010F1C;
    overflow: hidden;
  }
  
  body,
  html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .container{
    position:absolute;
    width:100%;
    
  }
  
  svg{
    width:100%;
    visibility:hidden;
    overflow:hidden;
  }
  
  
  